body, html {
    min-height: 100%;
}

body {
    background:url(../img/NewYork.jpg) top right no-repeat;
    background-attachment:fixed;
}

/*body {
 background-image: url(../img/NewYork.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
*/
.top-header {
    width: 100%;
    max-width:960px;
    font:6em "Times";
    color: #f0f0f0;
    margin: 40px auto;
    text-align: center;
}

.hello {
    background-color: white;
}

p {
    font-size: 40px;
}
