html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
/*    overflow-x: hidden:*/
}

/* Removes the scroll bar */
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    box-sizing: border-box;
}

.title-page {
    /* public domain image from unsplash.com */
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../img/RoadOriginal.jpg);
    background-size: cover;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.image {
    overflow-x: hidden;
}

#circle {
    /*float: left;*/
    width: 10.8em;
    height: 10.8em;
    background-image: url(../img/profilepic2.png);
    -moz-border-radius: 3.1em;
    -webkit-border-radius: 3.1em;
    border-radius: 62.5em;
    margin-left: calc(100% / 2 - (10.8em / 2));
    margin-top: calc(100% / 6);
    box-sizing: border-box;


}


/*
.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;

  background: #38a9e4;
}*/

/* BUTTONS ---  http://codepen.io/davekilljoy/*/
button {
    position: relative;
    height: 4em;
    width: 10em;
    margin: .62em .4em;
    padding: .31em .3em;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: .125em;
    color: #383736;
    border: .125em #383736 solid;
    border-radius: .25em;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    box-sizing: border-box;
}

.fill:hover {
    color: white;
    box-sizing: border-box;
}

.fill:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
    box-sizing: border-box;
}

.fill:hover:before {
    top: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4vw;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    vertical-align:
    left: 1em;
}



.container {
    text-align: center;
}

.test {
        /*font-size: 4em;*/
    font-size: 4vw;
    text-align: center;
    color: black;
    /*margin-top: 37%;*/
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2em;
    padding-top: 2em;
    padding-bottom: 4em;
    box-sizing: border-box;
}

h3 {
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-top: .3em;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h4 {
    font-size: 1.8vw;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-top: .3em;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h5 {
    font-size: 2em;
    text-align: center;
    color: white;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h6 {
    color: white;
    font-size: .7em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .title-page {
        height: 100%;
        margin-top: 0;
        box-sizing: border-box;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .title-page {
        height: 100%;
        margin-top: 0;
        box-sizing: border-box;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (min-height: 700px) {
    .bounce {
      position:fixed;
      left: calc(100% / 2 - .7em);
      bottom:0;
      margin-top:-1.56em;
      margin-left:-4.7em;
      height:9.375em;
      width:9.375em;
      background-image: url(../img/downarrow.png);
      background-size: 9.375em;
      -webkit-animation:bounce 1s infinite;
      box-sizing: border-box;
    }

    @-webkit-keyframes bounce {

      0%       { bottom:5px; }
      25%, 75% { bottom:15px; }
      50%      { bottom:20px; }
      100%     {bottom:0;}
    }
}

#about-me {
    background-color: #add2d2;
    overflow-x: hidden;
}

.about {
    font-size: 1em;
    padding-bottom: 9.375em;
    box-sizing: border-box;
}

footer
{
    background-color : #173042;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    color: white;
    box-sizing: border-box;
}

li {
    list-style: none;
    float: none;
    margin-left: 2em;
    margin-right: 1em;
    padding-top: 0em;
    padding-bottom: 1em;
    text-align: center;
    color: #0f0f0f;
    box-sizing: border-box;
}

a:hover {
    color: gray;
    box-sizing: border-box;
}

.project-icon {
    height: 19em;
    border-radius: 1.7em;
    margin: 1.5em;
    background-color: gray;
    box-sizing: border-box;
}

#first {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../img/github.png);
}

.what-i-do {
    width: 100%;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    overflow-x: hidden;
}


.mid-page {
    /* public domain image from unsplash.com */
    background: url(../img/Table.jpg);
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

hr {
    width: 19.8em;
    text-align: center;
}

.row {
    width: 100%;
    box-sizing: border-box;
}


















